html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	overflow: scroll;
	background: #eeeeee;
}

.root {
    display: flex;
    height: 100%;
    overflow: auto;
    flex-direction: column;
}

demo-card-list {
    display: block;
    flex: 1 1 auto;
    overflow: auto;
}

demo-card-list > div {
	width: 57%;
	margin: 0 auto;
	font-size: 2rem;
}

md-card, md-content {
    color : #4a4343;
}

app-page-signin > div {
    justify-content: center;
}

app-page-signin md-card {
    align-self: center;
}

app-page-signin .md-padding.wide {
    padding: 16px 6rem;
}


.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important;
 }
.tabsdemoDynamicHeight md-content md-tabs {
  background: white;
  border: 5px solid black; }
  .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 200; }
.carddemoBasicUsage .card-media {
  background-color: #999999; }
