html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	overflow: scroll;
	background: #eeeeee;
    font-size: 1.6rem;
}

.root {
    display: flex;
    height: 100%;
    overflow: auto;
    flex-direction: column;
}

[data-icon] {
    vertical-align: middle;
    margin: 0px 0.2em;
}

ng-view {
    overflow: auto;
}

demo-card-list {
    display: block;
    flex: 1 1 auto;
    overflow: auto;
}

demo-card-list > div {
	width: 57%;
	margin: 0 auto;
	font-size: 2rem;
}

body, md-card, md-content {
    color : #4a4343;
}

app-page-signin > div {
    justify-content: center;
}

app-page-signin md-card {
    align-self: center;
}

.md-padding.wide {
    padding: 16px 6rem;
}

md-tabs.raised md-tabs-wrapper {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
                0 4px 5px 0 rgba(0,0,0,.14),
                0 1px 10px 0 rgba(0,0,0,.12);
}

md-tabs-wrapper {
    z-index: 10;
}

md-toolbar h1 {
    padding-right: 16px;
    border-right: 0.1rem solid rgba(255, 255, 255, 0.55);
    margin-right: 0.5rem;
}

app-header-user-area img {
    border-radius: 50%;
    height: 2.5rem;
    vertical-align: middle;
    margin-left: 1rem;
}

app-header-user-area span {
    vertical-align: middle;
}

app-page-user-edit .media {
    height: 15rem;
    width: 15rem;
    margin-left: 1rem;
}
