<div flex layout="row" layout-margin>
    <md-list class="md-whiteframe-1dp" flex>
        <md-subheader class="md-no-sticky">Own Projects</md-subheader>
        <md-list-item class="secondary-button-padding" ng-click="testAction($event, own)" ng-repeat="own in ownProjects">
            <p>{{own}}</p>
        </md-list-item>
    </md-list>
    <md-list class="md-whiteframe-1dp" flex>
        <md-subheader class="md-no-sticky">Helping on Projects</md-subheader>
        <md-list-item class="secondary-button-padding" ng-click="testAction($event, working)" ng-repeat="helping in helpingProjects">
            <p>{{helping}}</p>
        </md-list-item>
    </md-list>
    <md-list class="md-whiteframe-1dp" flex>
        <md-subheader class="md-no-sticky">Finished Projects</md-subheader>
        <md-list-item class="secondary-button-padding" ng-click="testAction($event, finished)" ng-repeat="finished in finishedProjects">
            <p>{{finished}}</p>
        </md-list-item>
    </md-list>
</div>
