<div class="md-subhead" layout="column" flex layout-padding>
    <md-input-container>
        <label>Search Projects</label>
        <input ng-model="searchQuery" type="text" ng-change="search()">
    </md-input-container>

    <md-input-container>
        <label>Sort by</label>
        <md-select ng-model="sortQuery" ng-change="sort()">
            <md-option ng-repeat="option in options">
                {{option}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-chips ng-model="tagFilterQuery" md-on-add="tagFilter()" md-on-remove="tagFilter()"></md-chips>
</div>
