<div class="md-subhead" layout="column" flex layout-padding>
    <md-input-container>
        <label>Search Projects</label>
        <input ng-model="searchQuery" type="text" ng-change="search()">
    </md-input-container>

    <md-input-container>
        <label>Sort by</label>
        <md-select ng-model="sortQuery" ng-change="sort()">
            <md-option ng-repeat="option in options">
                {{option}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-chips ng-model="tagFilterQuery" md-on-remove="tagFilter()"></md-chips>

    <!--<md-chips ng-model="tags" md-autocomplete-snap md-require-match="requireMatch">
        <md-autocomplete md-selected-item="selectedTag" md-search-text="searchTag" md-items="tag in querySearch(searchTag)" md-item-text="tag" placeholder="Search for a Tag">
            <span md-highlight-text="searchTag">{{tag}}</span>
        </md-autocomplete>
        <md-chip-template>
            <span>
                <strong>{{$chip}}</strong>
            </span>
        </md-chip-template>
    </md-chips>-->
</div>
