<div flex layout="column" layout-padding layout-margin layout-align="top">
  <h1 class="md-display-3">Publish your project</h1>
  <div layout="row" class="md-padding">
      <md-card>

          <md-card-content>
           <md-input-container>
            <label>Name of Idea</label>
            <input type="text" ng-model="name" required md-maxlength="50">
          </md-input-container>
          <app-select-category></app-select-category>
          <app-chip-job></app-chip-job>
          <md-input-container>
            <label>Description</label>
            <textarea name="description" ng-model="desc" md-maxlength="500"></textarea>
          </md-input-container>
          </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
         <md-button class="md-raised">Create</md-button>
         <md-button class="md-raised">Cancel</md-button>
        </md-card-actions>
    </md-card>
  </div>

</div>
